* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white !important;
}

.input {
	color: aliceblue;
}

.form {
	height: 100%;
	width: 80%;
	display: flex;
	row-gap: 1em;
	margin: 1em 0 0 1em;
	flex-direction: column;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #1d1d2b;
	overflow-y: hidden;
}

.beauty-box {
	background-color: #29293b;
	outline: 1px solid #b5b9d6;
	color: white;
	width: 100%;
}

.result-menu {
	display: flex;
	text-align: center;
	user-select: none;
	cursor: pointer;
	min-height: 50px;
	align-items: center;
}

.button {
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

li {
	list-style: none;
}

nav {
	display: flex;
	height: 70px;
	justify-content: space-around;
	align-items: flex-end;
	align-items: center;
}

ul {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

nav > .main-nav {
	display: grid;
	align-items: center;
	justify-content: space-between;
	grid-template-columns: auto auto;
}

.builder {
	display: grid;
	min-width: 100%;
	grid-template-columns: 50% 50%;
}

.result {
	height: calc(100vh - 120px);
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
}
